<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/assets/images/head.png">
            </a>
        </div>
        <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
                <li class="change-to-active"><a href="#" [routerLink]="['']">All</a></li>
                <li *ngIf="auth.isAuthenticated()"><a href="#" [routerLink]="['mypins']">My Pins</a></li>
                <li *ngIf="auth.isAuthenticated()" class="dropdown" [ngClass]="{'open':dropdownOpen}">
                    <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" role="button" id="newpin" (click)="dropdownOpen = !dropdownOpen">
                        Add new Pin
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="newpin">
                        <form class="add-form" (submit)="send()">
                            <input type="text" name="url" placeholder="Pic url..." class="form-control" [(ngModel)]="pin.url">
                            <input type="text" name="desc" placeholder="Pic description..." class="form-control"[(ngModel)]="pin.description">
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="btn btn-primary navbar-btn" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
                Sign In
            </a>
            <a class="btn btn-warning navbar-btn" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                Sign Out
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
