<div class="container">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div class="grid-item" *ngFor="let pin of pins">
            <div class="main-img">
                <img [src]="pin.url">
                <p>{{pin.description}}</p>
            </div>
            <div class="info">
                <a href="#"><img [src]="pin.user.picture"></a>
                <div class="like btn btn-default btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span>&nbsp;</span><span>1</span></div>
            </div>
        </div>
    </div>
</div>
